html {
    font-family: 'spartan' ;
}

body {
   background-color:var(--color-main-background);
   color: var(--color-text-1);
   overflow: hidden;
   margin: auto;
   touch-action: manipulation;
}

.case {
    height: 100vh; 
    max-width: 30rem;
    margin-inline: auto; 
    padding-inline: 1.2rem; 
    display: flex;
    flex-direction: column;
    gap: 1.4rem; 
}


.theme1 {
  --color-main-background: hsl(222, 26%, 31%); 
  --color-toggle-background: hsl(223, 31%, 20%);
  --color-keypad-background: hsl(223, 31%, 20%);
  --color-screen-background: hsl(224, 36%, 15%);
  --color-key-background1: hsl(30, 25%, 89%);
  --color-key-shadow1: hsl(28, 16%, 65%);
  --color-key-background2: hsl(225, 21%, 49%);
  --color-key-shadow2: hsl(224, 28%, 35%); 
  --color-key-background3: hsl(6, 63%, 50%);
  --color-key-shadow3: hsl(6, 70%, 34%);
  --color-toggle: hsl(6, 63%, 50%);
  --color-text-1: hsl(0, 0%, 100%); 
  --color-text-2: hsl(221, 14%, 31%);
  --color-text-3: hsl(0, 0%, 100%); 
  --color-text-4: hsl(0, 0%, 100%);
}

.theme2 {
  --color-main-background: hsl(0, 0%, 90%); 
  --color-toggle-background: hsl(0, 5%, 81%);
  --color-keypad-background: hsl(0, 5%, 81%);
  --color-screen-background: hsl(0, 0%, 93%);
  --color-key-background1: hsl(45, 7%, 89%);
  --color-key-shadow1: hsl(35, 11%, 61%);
  --color-key-background2: hsl(185, 42%, 37%);
  --color-key-shadow2: hsl(185, 58%, 25%);
  --color-key-background3: hsl(25, 98%, 40%);
  --color-key-shadow3: hsl(25, 99%, 27%); 
  --color-toggle: hsl(25, 98%, 40%);
  --color-text-1: hsl(60, 10%, 19%); 
  --color-text-2: hsl(60, 10%, 19%);
  --color-text-3: hsl(0, 0%, 100%); 
  --color-text-4: hsl(0, 0%, 100%); 
}

.theme3 {
  --color-main-background: hsl(268, 75%, 9%); 
  --color-toggle-background: hsl(268, 71%, 12%);
  --color-keypad-background: hsl(268, 71%, 12%);
  --color-screen-background: hsl(268, 71%, 12%);
  --color-key-background1: hsl(281, 89%, 26%);
  --color-key-shadow1: hsl(285, 91%, 52%);
  --color-key-background2: hsl(268, 47%, 21%);
  --color-key-shadow2: hsl(290, 70%, 36%); 
  --color-key-background3: hsl(176, 100%, 44%);
  --color-key-shadow3: hsl(177, 92%, 70%);
  --color-toggle: hsl(176, 100%, 44%);
  --color-text-1: hsl(52, 100%, 62%);  
  --color-text-2: hsl(52, 100%, 62%);
  --color-text-3: hsl(0, 0%, 100%);
  --color-text-4: hsl(198, 20%, 13%);
}


header {
    padding-top: 0.5rem;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.toggle-container {
    font-size: 0.7rem;
    display: flex;
}

.toggle-title {
    display: flex;
    align-items: center;
    padding-top: 1.4em; 
    padding-inline: 1.5em;
}

.toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.65rem; 
}

.toggle-label-container {
    display: flex;
    justify-content: space-around;
    padding-block: 0.3rem;
}

.toggle-tw {
    background-color: var(--color-toggle-background);
    border-radius: 16px;
    display: flex;
}

.toggle-tw input {
    appearance: none;
    width: 1.3em;
    height: 1.3em;
    margin: 0.2em 0.1em;
}

.toggle-tw input:checked {
    border-radius: 20px;
    box-shadow: inset 1.1em 1.1em var(--color-toggle);
}

.screen {
    font-size: 16px;
    background-color: var(--color-screen-background);
    border-radius: 10px;
    text-align: right;
    font-size: 16px;
    padding: 20px;
}

.keypad {
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: auto;
    padding: 0.5em;
    background-color: var(--color-keypad-background);
}

.keypad-num {
    display: grid; 
    grid-template-columns: repeat(4, 25%);
}
  
.keypad-base {
    display: grid; 
    grid-template-columns: repeat(2, 50%);
}

.key {
    background-color: var(--color-key-background1);
    color: var(--color-text-2);
    border-radius: 6px;
    box-shadow:0 var(--key-box-shadow-offset-x) var(--color-key-shadow1);
    border: none;
    font-size: 30px;
    font-weight: 700;
    margin-inline: clamp(6px, 20px, 16px); 
    margin-block: clamp(6px, 1.5vh, 16px); 
    padding-block: 8px; 
    padding-inline: 0; 
}

.fn {
    background-color: var(--color-key-background2);
    color: var(--color-text-3);
    font-size: 16px;
    box-shadow: 0 var(--key-box-shadow-offset-x) var(--color-key-shadow2);
}

.op[data-value="="] {
    background-color: var(--color-key-background3);
    color: var(--color-text-4);
}

.key:active {
    transform: translateY(0.1rem);
    box-shadow: 0 var(--key-box-shadow-offset-x-active) var(--color-key-shadow1);
  }





/* .attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%);
 } */
